<div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start" data-position="left" data-domfactory-upgraded="mdk-drawer" data-persistent="" data-opened=""><div class="mdk-drawer__scrim" style=""></div>
        <div class="mdk-drawer__content" style="">
            <div class="sidebar sidebar-left sidebar-p-t ps ps--active-y sidebar-dark bg-dark" data-perfect-scrollbar="">
                <div class="sidebar-heading">Menu</div>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item active">
                        <a class="sidebar-menu-button" data-toggle="collapse" routerLink="/">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                            <span class="sidebar-menu-text">Home</span>
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/analystic">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pie_chart_outlined</i>
                            <span class="sidebar-menu-text">Analytics</span>
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/documantation">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">description</i>
                            <span class="sidebar-menu-text">Documentation</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/pricing">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">tune</i>
                            <span class="sidebar-menu-text">Pricing</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="/profile">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
                            <span class="sidebar-menu-text">Profile</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" routerLink="../login.html">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">slideshow</i>
                            <span class="sidebar-menu-text">Logout</span>
                        </a>
                    </li>
                </ul>
                

            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y ps--clicking" style="top: 0px; height: 613px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 288px;"></div></div></div>
        </div>
    </div>