<div class="mdk-drawer-layout js-mdk-drawer-layout" data-push="" data-responsive-width="992px" data-domfactory-upgraded="mdk-drawer-layout">
    <div class="mdk-drawer-layout__content page" style="transform: translate3d(0px, 0px, 0px);">

        <div class="container-fluid  page__heading-container">
            <div class="page__heading">
                <h1 class="m-0">Pricing</h1>
            </div>
        </div>

        <div class="container-fluid page__container">
            <div class="row card-group-row  pt-2">

                <div class="col-md-6 col-lg-4 card-group-row__col">
                    <div class="card card-group-row__card pricing__card">

                        <div class="card-body d-flex flex-column">
                            <div class="text-center">
                                <h4 class="pricing__title mb-0">Standard</h4>
                                <div class="d-flex align-items-center justify-content-center border-bottom-2 flex pb-3">
                                    <span class="pricing__amount headings-color">0</span>
                                    <span class="d-flex flex-column">
                                        <span class="pricing__currency text-dark-gray text-left">USD</span>
                                        <span class="pricing__duration text-dark-gray">*monthly</span>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">

                                <ul class="list-unstyled pricing__features">

                                    <li>10 Proofstamps</li>

                                    <li>Copyright Plagiarism Checker</li>
                                    
                                    <li>1 Supported Chains</li>
                                    
                                    <li>Community Support</li>

                                </ul>

                                <a href="#" class="btn btn-success mt-auto">Free</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 card-group-row__col">
                    <div class="card card-group-row__card pricing__card pricing__card--popular">

                        <div class="card-body d-flex flex-column">
                            <div class="text-center">
                                <h4 class="pricing__title mb-0">Growth</h4>
                                <div class="d-flex align-items-center justify-content-center border-bottom-2 flex pb-3">
                                    <span class="pricing__amount headings-color">59</span>
                                    <span class="d-flex flex-column">
                                        <span class="pricing__currency text-dark-gray text-left">USD</span>
                                        <span class="pricing__duration text-dark-gray">*monthly</span>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">

                                <ul class="list-unstyled pricing__features">

                                    <li>25 Proofstamp / month</li>

                                    <li>Copyright Plagiarism Checker</li>
                                    
                                    <li>2 Supported Chains</li>
                                    
                                    <li>Email Support</li>

                                </ul>

                                <a routerLink="/payout/3e1e967e9b793e908f8" class="btn btn-primary mt-auto">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 card-group-row__col">
                    <div class="card card-group-row__card pricing__card">

                        <div class="card-body d-flex flex-column">
                            <div class="text-center">
                                <h4 class="pricing__title mb-0">Business</h4>
                                <div class="d-flex align-items-center justify-content-center border-bottom-2 flex pb-3">
                                    <span class="pricing__amount headings-color">199</span>
                                    <span class="d-flex flex-column">
                                        <span class="pricing__currency text-dark-gray text-left">USD</span>
                                        <span class="pricing__duration text-dark-gray">*monthly</span>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">

                                <ul class="list-unstyled pricing__features">

                                     <li>100 Proofstamp / month</li>

                                    <li>Copyright Plagiarism Checker</li>
                                    
                                    <li>3 Supported Chains</li>
                                    
                                    <li>Email, Chat Support</li>

                                </ul>

                                <a routerLink="/payout/35b4b462bd94537bfe15c" class="btn btn-success mt-auto">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- // END drawer-layout__content -->

    <app-footer></app-footer>
    
</div>
<!-- // END drawer-layout -->