          <!-- Header -->

            <div id="header" class="mdk-header js-mdk-header m-0" data-fixed="" data-retarget-mouse-scroll="" data-domfactory-upgraded="mdk-header" style="padding-top: 57px;"><div class="mdk-header__bg"><div class="mdk-header__bg-front"></div><div class="mdk-header__bg-rear"></div></div>
                <div class="mdk-header__content">

                    <div class="navbar navbar-expand-sm navbar-main pr-0 navbar-light bg-white border-bottom mdk-header--fixed" id="navbar" data-primary="data-primary">
                        <div class="container-fluid p-0">

                            <!-- Navbar toggler -->

                            <button class="navbar-toggler navbar-toggler-right d-block d-lg-none" type="button" data-toggle="sidebar">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <!-- Navbar Brand -->
                            <a routerLink="/" class="navbar-brand ">

                                <span>223 LABS</span>
                            </a>

                            <form class="search-form d-none d-sm-flex flex" action="">
                                <button class="btn" type="submit"><i class="material-icons">search</i></button>
                                <input type="text" class="form-control" placeholder="Search">
                            </form>

                            <ul class="nav navbar-nav ml-auto d-none d-md-flex">
                                <li class="nav-item dropdown">
                                    <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                        <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                    </a>
                                    <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                        <div class="dropdown-item d-flex align-items-center py-2">
                                            <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                            <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                        </div>
                                        <div class="navbar-notifications-menu__content ps" data-perfect-scrollbar="">
                                            <div class="py-2">

                                                <div class="dropdown-item d-flex">
                                                    <div class="mr-3">
                                                        <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                            <!--img src="./home_files/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle"-->
                                                        </div>
                                                    </div>
                                                    <div class="flex">
                                                        <!--a href="app-activities.html">A.Demian</a> left a comment on <a href="#">FlowDash</a--><br>
                                                        <small class="text-muted">1 minute ago</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item d-flex">
                                                    <div class="mr-3">
                                                        <a href="app-activities.html#">
                                                            <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="flex">
                                                        New user <a href="app-activities.html#">Peter Parker</a> signed up.<br>
                                                        <small class="text-muted">1 hour ago</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item d-flex">
                                                    <div class="mr-3">
                                                        <a href="app-activities.html#">
                                                            <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                <span class="avatar-title rounded-circle">JD</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="flex">
                                                        <a href="app-activities.html#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                        <div>Hey, how are you? What about our next meeting</div>
                                                        <small class="text-muted">2 minutes ago</small>
                                                    </div>
                                                </div>

                                                <div class="dropdown-item d-flex">
                                                    <div class="mr-3">
                                                        <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                            <img src="./home_files/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex">
                                                        <a href="app-activities.html">A.Demian</a> left a comment on <a href="https://demo.frontted.com/flowdash/120/app-activities.html">FlowDash</a><br>
                                                        <small class="text-muted">1 minute ago</small>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                                        <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                    </div>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                                <li class="nav-item dropdown">
                                    <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                        <span class="mr-1 d-flex-inline">
                                            <span class="text-light">{{greeting}}</span>
                                        </span>
                                        <!--img src="./home_files/demi.png" class="rounded-circle" width="32" alt="Frontted"-->
                                    </a>
                                    <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-item-text dropdown-item-text--lh">
                                            <div><strong>{{greeting}}</strong></div>
                                            <div class="text-muted">{{membership}} Member</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" routerLink="/"><i class="material-icons">dvr</i> Home</a>
                                        <a class="dropdown-item" routerLink="/profile"><i class="material-icons">account_circle</i> My profile</a>
                                        <a class="dropdown-item" routerLink="/profile"><i class="material-icons">edit</i> Edit account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="material-icons">exit_to_app</i> Logout</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

            <!-- // END Header -->